body {
    background-color: #19191B;
}
.btn-our-services {
  background-color: #5454D4 !important;
}
.menu-home {
    color: #5454D4 !important;
}
.icon-menu {
  color: white !important;
}
.icon-play-fill {
  font-size: 80px;
}

.banner-left {
  height: 400px !important;
}
.icon-add {
  transform: rotate(45deg);
}
.bg-gradient-left {
  margin-top: -200px;

}
.bg-gradient-left .bg {
  width:400px;
  height: 400px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, rgba(84, 84, 212, 0.21), rgba(84, 84, 212, 0.0882));;
  filter: blur(100px);
  z-index: -1;
  

}
.service {
  margin-top: 250px !important;
}
.bg-gradient-right {
  margin-top: -20px;
  height: 600px;

}
.bg-gradient-right .bg {
  width:400px;
  height: 400px;
  transform: rotate(45deg);
  background-image: linear-gradient(to right, rgba(84, 84, 212, 0.21), rgba(84, 84, 212, 0.0882));;
  filter: blur(80px);
  z-index: -1;
  top: 0;
  right: 0;
}
.portfolio {
  margin-top: -500px;
}
.portfolio .row .col-10 h2 {
  font-size: 50px !important;
}
.portfolio .row .col-md-4:nth-child(2) {
 
  margin-top: 50px;
}
.portfolio .row .col-md-4:nth-child(3) {
 
  margin-top: 100px;
}
.portfolio .icons-right-left {
  display: none !important;
}

.icons {
  height: 200px;
 
}

.contact .row .col-md-2 button {
  background-color:#5454D4;
  padding: 10px 20px !important;
}

@media (max-width:576px) {
  body {
    overflow-x: hidden !important;
  }

  .portfolio .row .col-md-4:first-child img {
    width: 100%;
  }
  .portfolio .row .col-md-4:nth-child(2) {
 
  display: none;
  }
  .portfolio .row .col-md-4:nth-child(3) {
   
  display: none;
  }
 .portfolio .icons .col-4:nth-child(2) {
  display: none;
 }
 .portfolio .icons .col-4:nth-child(3) img {

  right: 20px;
 }
 .portfolio .icons-right-left {
  display:flex !important;
 justify-content: center !important;
 margin-top: 20px;

}
}


/* responsive  telefon */


