body {
    background-color: #19191B;
}
.btn-our-services {
  background-color: #5454D4 !important;
}
.menu-home {
    color: #5454D4 !important;
}
.icon-menu {
  color: white !important;
}
.icon-play-fill {
  font-size: 80px;
}

.banner-left {
  height: 400px !important;
}
.icon-add {
  transform: rotate(45deg);
}
.bg-gradient-left {
  margin-top: -200px;

}
.bg-gradient-left .bg {
  width:400px;
  height: 400px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, rgba(84, 84, 212, 0.21), rgba(84, 84, 212, 0.0882));;
  filter: blur(100px);
  z-index: -1;
  

}
.service {
  margin-top: 200px !important;
}

/* responsive  telefon */


